<ul class="head-section">
    <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/chat">Chat</a></li>
      <li><div class="search-section">
        <form #data="ngForm" class="search-form">
          <input type="text" placeholder="username" [(ngModel)]="data.username" name="username" required/>
          <input type="text" placeholder="first name" [(ngModel)]="data.name" name="name" required/>
          <input type="text" placeholder="last name" [(ngModel)]="data.surname" name="surname" required/>
          <input type="submit" value="Search" (click)="searchUser(data)">
        </form>
      </div></li>
      <li id="logout"><a href="/" (click)="logout()">Log out</a></li>
  </ul>

  <div class = "search-request-section">
    <table>
      <tr>
        <th id="search-results-label">Search results:</th>
        <th></th>
      </tr>
      <tr *ngFor="let user of ws.searchResults">
          <td>{{user.name}} {{user.surname}} ({{user.username}})</td>
          <form class="add-friend" *ngIf="isFriend(user.username)">
              <input type="submit" value="Delete" (click)="deleteFriend(user.username)">
          </form>
          <form class="add-friend" *ngIf="hasSentMeRequest(user.username)">
              <input type="submit" value="Accept" (click)="acceptRequest(user.username)">
              <input type="submit" value="Decline"(click)="declineRequest(user.username)">
          </form>
          <form class="add-friend" *ngIf="haveISentRequest(user.username)">
              <input type="submit" value="Delete request" (click)="deleteRequest(user.username)">
           
          </form>
          <form class="add-friend" *ngIf="!haveISentRequest(user.username) && !hasSentMeRequest(user.username) && !isFriend(user.username) && !isMe(user.username)">
              <input type="submit" value="Add" (click)="addFriend(user.username)">      
          </form>
      </tr>
    </table>
    </div>