
<head>
	<title>Chat</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css">

</head>

	<div class="main-section">
		<ul class="head-section">
			<li><a routerLink="/home">Home</a></li>
			<li><a routerLink="/chat">Chat</a></li>
			<li><div class="search-section">
				<form #data="ngForm" class="search-form">
					<input type="text" placeholder="username" [(ngModel)]="data.username" name="username" required/>
					<input type="text" placeholder="first name" [(ngModel)]="data.name" name="name" required/>
					<input type="text" placeholder="last name" [(ngModel)]="data.surname" name="surname" required/>
					<input type="submit" value="Search" (click)="searchUser(data)">
				</form>
			</div></li>
			<li id="logout"><a href="/" (click)="logout()">Log out</a></li>  
		</ul>
		<div class="body-section">
			<div class="left-section mCustomScrollbar" data-mcs-theme="minimal-dark">
				<ul>
					<li>
						<div class="chatList" *ngFor="let friend of ws.myLeftMsgsArray">
							<div class="img">
									<i *ngIf="friendOnline(friend[0])" class="fa fa-circle"></i>
								<img src="../../../assets/man01.png">
							</div>
							<div class="desc" (click) = "showMessages(friend[0])">
								
								<h5>{{friend[0]}}</h5>
								<small>{{friend[1]}}</small>
							</div>
						</div>

						<div class="chatList" *ngFor="let group of ws.myLeftGroupMsgsArray">
							<div class="img">
									
								<img src="../../../assets/group.png">
							</div>
							<div class="desc" (click) = "showGroupMessages(group[0])">
								
								<h5>Group: {{group[0]}}</h5>
								<small>{{group[1]}}</small>
							</div>
						</div>

					</li>	
				</ul>
			</div>
			<div class="center-section">
				<div class="message mCustomScrollbar" data-mcs-theme="minimal-dark" >
						<h5 *ngIf="!ws.isGroup">{{friend}}</h5>
						<h5 *ngIf="ws.isGroup">{{group}}</h5>
					<div *ngIf="!ws.isGroup">
						<div *ngFor="let message of ws.myMessagesDate">
							<ul>
								
									<li class="msg-left" *ngIf="message.sender!=ws.username" >
										<div class="msg-left-sub">
											<img src="../../../assets/man02.png">
											<div class="msg-desc" >
												{{message.content}}
											</div>
											<small>{{message.date}}</small>
											

										</div>
									</li>
								
								
								<li class="msg-center" *ngIf="message.sender==ws.username" >
									<div class="msg-left-sub">
										<img src="../../../assets/man04.png">
										<div class="msg-desc">
											{{message.content}}
										</div>
										<small>{{message.date}}</small>
										
									</div>
								</li>			
							</ul>
						</div>
					</div>
					<div *ngIf="ws.isGroup">
						<div *ngFor="let message of ws.myGroupMessagesDate">
							<ul>
								
									<li class="msg-left" *ngIf="message.sender!=ws.username" >
										<div class="msg-left-sub">
											<img src="../../../assets/man02.png">
											<div class="msg-desc" >
												{{message.content}}
											</div>
											<small>Sent by {{message.sender}} on {{message.date}}</small>
											
										</div>
									</li>
								
								
								<li class="msg-center" *ngIf="message.sender==ws.username" >
									<div class="msg-left-sub">
										<img src="../../../assets/man04.png">
										<div class="msg-desc">
											{{message.content}}
										</div>
										<small>Sent by {{message.sender}} on {{message.date}}</small>
										
									</div>
								</li>			
							</ul>
						</div>
					</div>
				</div>
				<div class="center-section-bottom">
					<form #data="ngForm">					
						<input *ngIf="!ws.isGroup" type="text" [disabled]="!isFriendSelected()" [(ngModel)]="data.message_content"  name="message" placeholder="type here...">
						<input *ngIf="ws.isGroup" type="text" [disabled]="!isGroupSelected()" [(ngModel)]="data.message_content"  name="message" placeholder="type here...">
						<button *ngIf="!ws.isGroup" class="btn-send" [disabled]="!isFriendSelected()" (click) = "sendMessage(data); data.message_content = ''"><i class="fa fa-send"></i></button>
						<button *ngIf="ws.isGroup" class="btn-send" [disabled]="!isGroupSelected()" (click) = "sendGroupMessage(data); data.message_content = ''"><i class="fa fa-send"></i></button>
					</form>
				</div>
			</div>
			<div class="right-section">
				<table class="online-friends">
					<tr>
						<th>
							Online friends:
						</th>
					</tr>
					<tr *ngFor = "let friend of ws.onlineFriends">					
						<td (click) = "showMessages(friend)">{{friend}}</td>
					</tr>
				</table>
				<br>
				<br>
				
				<table class="online-friends">
					<tr>
						<th>
							Offline friends:
						</th>
					</tr>
					<tr *ngFor = "let friend of ws.offlineFriends">					
						<td (click) = "showMessages(friend)">{{friend}}</td>
					</tr>
				</table>
				<br>
				<br>

				<table class="online-friends">
					<tr>
						<th>
							My groups:
						</th>
					</tr>
					<tr *ngFor = "let group of ws.myGroups">
						<td (click) = "showGroupMessages(group)">{{group}}</td>
					</tr>
				
				</table>
				<br>
				<br>
				<form #data="ngForm">
					<table class="online-friends">
						<tr>
							<th>
								Create new group:
							</th>
						</tr>
					 
						<tr>
							<td>
								<input type="text" [(ngModel)]="data.groupname" name="group" placeholder="group name" required/>
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" name="members" [(ngModel)]="data.members" placeholder="members" required/>
							</td>
						</tr>
						<tr>
							<td>
								<input type="submit" value="Create" [disabled]="!data.valid" (click)="createGroup(data)">
							</td>
						</tr>
					
					</table>
				</form>
			</div>
		</div>
  </div>

	


